@model Blog.Backend.Services.BlogService.Contracts.BlogObjects.Post

@{
    ViewBag.Title = "AddPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="post-edit-container">
    
    <div class="post-edit-title">
        @Html.EditorFor(model => model.PostTitle)
    </div>
    @Html.Partial("_PostMediaUpload", GetPostContentUpload(Model.PostId))
    @Html.HiddenFor(model => model.PostId)
    @Html.HiddenFor(model => model.CreatedDate)
    @Html.HiddenFor(model => model.User.UserId)
    @Html.HiddenFor(model => model.Tags)
    <div class="post-modify-container">
        @Html.Partial("_PostModify", GetPostView())
    </div>
    <div class="modifyPostBackToDashboard">
        @Html.ActionLink("Back to List", "ReturnToHome")
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>window.Blog.Events.initModifyPost(@Model.PostId, true);</script>


@functions
{
    public Blog.Frontend.Web.Models.PostContentUpload GetPostContentUpload(int postId)
    {
        var postContentUpload = new Blog.Frontend.Web.Models.PostContentUpload
            {
                PostId = postId
            };

        return postContentUpload;
    }

    public Blog.Frontend.Web.Models.PostView GetPostView()
    {
        var postView = new Blog.Frontend.Web.Models.PostView
        {
            Post = Model,
            IsAdd = true,
            IsEdit = false,
            DisplayComments = false
        };

        return postView;
    }
}