<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Jama Awesomeness!</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <script src="http://www.geoplugin.net/javascript.gp" type="text/javascript"></script>
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.9.2.custom.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryplugins")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/blog")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/smoothness")
    @*<script>
        $(function () {
            jQuery.noConflict();
        });
    </script>*@
</head>
<body>
    @Html.Partial("_Header")
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-body">
            @RenderBody()
        </section>
    </div>
    @Html.Partial("_Footer")
    @RenderSection("scripts", required: false)
</body>
</html>
