<!DOCTYPE html>
<html ng-app="blog">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Bloggity</title>
    @Styles.Render("~/content/css")
    @Styles.Render("~/content/cssplugins")
    @Scripts.Render("~/scripts/modernizr")

</head>
<body>
    <header-menu></header-menu>

    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/scripts/jquery")
    @Scripts.Render("~/scripts/jqueryui")
    @Scripts.Render("~/scripts/jqueryplugins")
    @Scripts.Render("~/scripts/jsplugins")
    @Scripts.Render("~/scripts/bootstrap")
    @Scripts.Render("~/scripts/angular")
    @Scripts.Render("~/scripts/blog")
    @Scripts.Render("~/scripts/headermenu")

    <script src="~/Scripts/modules/login/loginForm.js"></script>
    <script src="~/Scripts/modules/login/directives/loginForm.js"></script>
    <link href="~/Content/modules/loginform/loginform.css" rel="stylesheet" />

    @RenderSection("scripts", required: false)
</body>
</html>
