<!DOCTYPE html>
<html ng-app="blog">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Bloggity</title>
    @Styles.Render("~/content/css")
    @Styles.Render("~/content/login")
    @Styles.Render("~/content/navigation")
    @Styles.Render("~/content/posts")
    @Styles.Render("~/content/cssplugins")
    @Scripts.Render("~/scripts/modernizr")
    <script>
        var blogApi = "@Html.Raw(System.Configuration.ConfigurationManager.AppSettings.Get("BlogApi"))";
    </script>
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/scripts/jquery")
    @Scripts.Render("~/scripts/jqueryui")
    @Scripts.Render("~/scripts/jqueryplugins")
    @Scripts.Render("~/scripts/jsplugins")
    @Scripts.Render("~/scripts/bootstrap")
    @Scripts.Render("~/scripts/angular")
    @Scripts.Render("~/scripts/blog")
    @Scripts.Render("~/scripts/shareddirectives")
    @Scripts.Render("~/scripts/header")
    @Scripts.Render("~/scripts/config")
    @Scripts.Render("~/scripts/login")
    @Scripts.Render("~/scripts/navigation")
    @Scripts.Render("~/scripts/posts")

    <script>
        $(function () {
            var settings = angular.element(document.querySelector('[ng-app]')).injector().get("configProvider");
            settings.setBlogApiEndpoint(blogApi);
        });
    </script>

    <script src="~/Scripts/modules/messaging/messagingModule.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
