@model Blog.Frontend.Web.Models.MediaListView
 
@{
    Layout = null;
}
 
<!DOCTYPE html>
 
<html>
<head>
    <title>Select an item to include in the post</title>
    <link href="~/Content/styles/mediabrowse.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/Site/MediaBrowse.js"></script>
    <script type="text/javascript">
        $(function () {
            $('a').click(function (e) {
                e.preventDefault();
                var ckEditorNum = parseInt($('#CKEditorFuncNum').val());
                window.opener.CKEDITOR.tools.callFunction(ckEditorNum, $(this).attr('href'), '');
                window.close();
            });
        });
    </script>
</head>
<body>
    <h3 class="media-browse-help">Click on the buttons to expand each category</h3>
    <div id="media-browse-container">
        @foreach (var g in Model.Files)
        {
            <div class="media-group">
                <h3>@g.MediaGroupName</h3>
                <div class="media-group-items">
                    @foreach (var m in g.Media)
                    {
                        <div class="media-item">
                            <img src="@m.ExternalUrl" />
                            <div class="media-item-details">
                                <h4>@m.FileName</h4>
                                <a href="@m.ExternalUrl">Select this image</a>
                            </div>
                            
                        </div>
                    }
                </div>
            </div>
        }
        
        <br /><br />
        @Html.HiddenFor(m => m.CKEditorFuncNum)
    </div>
    <script>Radix.MediaBrowse.init();</script>
</body>
</html>