@model IEnumerable<Blog.Common.Contracts.User>

@{
    ViewBag.Title = "User Identities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bloggity Users Without Identity Mapping</h2>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <strong>Error!</strong> @ViewBag.ErrorMessage
    </div>
}

<p>
    <a href="@Url.Action("Create", "Users")">Create a new identity</a>
</p>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.ActionLink("Map To Identity", "Map", new { id = item.Id })
            </td>
        </tr>
    }
</table>
