<div id="login-partial">
    <section class="login-section">
        @if (Blog.Frontend.Web.CustomHelpers.Authentication.UserTemp.UserId > 0)
        {
            <ul class="desktop">
                <li>
                    <span>
                        Hello, @Html.ActionLink(Blog.Frontend.Web.CustomHelpers.Authentication.UserTemp.FirstName + " " + Blog.Frontend.Web.CustomHelpers.Authentication.UserTemp.LastName, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })
                    </span>
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                    }
                </li>
            </ul>
            <ul class="mobile">
                <li>
                    <span>
                        @Html.ActionLink(Blog.Frontend.Web.CustomHelpers.Authentication.UserTemp.FirstName, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })
                    </span>
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                    }
                </li>
            </ul>
        }
        else
        {
            <ul class="desktop">
                <li class="help">
                    <div>
                        <img src="~/Content/images/help.png" />
                        @Html.ActionLink("Info", "About", "Home")
                    </div>
                </li>
                <li class="loginarea">
                    <ul>
                        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                    </ul>
                </li>
            </ul>
            <ul class="mobile">
                <li class="help">
                    <div>
                        <img src="~/Content/images/help.png" />
                        @Html.ActionLink("Info", "About", "Home")
                    </div>
                </li>
                <li class="user">
                    <img src="~/Content/images/user-settings.png" />
                </li>
            </ul>
        }
    </section>
</div>


