<div id="tab-menu-container">
    <section class="tabmenu">
        <div class="tabmenu">
            <ul>
                <li>@Html.ActionLink("Popular Posts", "PopularPosts", "PostsPage")</li>
                <li>@Html.ActionLink("Recent Posts", "RecentPosts", "PostsPage")</li>
                <li>@Html.ActionLink("Add new post", "AddPost", "Posts")</li>
                <li>@Html.ActionLink("User Posts", "UserPosts", "PostsPage")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
            </ul>
            <select>
                <option>@Html.ActionLink("Popular Posts", "PopularPosts", "PostsPage")</option>
                <option>@Html.ActionLink("Recent Posts", "RecentPosts", "PostsPage")</option>
                <option>@Html.ActionLink("Add new post", "AddPost", "Posts")</option>
                <option>@Html.ActionLink("User Posts", "UserPosts", "PostsPage")</option>
                <option>@Html.ActionLink("About", "About", "Home")</option>
                <option>@Html.ActionLink("Contact Us", "Contact", "Home")</option>
            </select>
        </div>
    </section>
</div>

