@model Blog.Backend.Services.BlogService.Contracts.BlogObjects.Comment

<div id="@GetCommentElementId()" class="comment-add-new-container noshow">
    <img class="comment-add-new-close" src="~/Content/images/close.png" width="12" height="12" />
    <div class="comment-add-new-form">
        <div>
            <a>
                <img src="~/Content/images/user_comment_default.png" width="50" height="50" />
            </a>
            <div id="@GetCommentTextAreaId()" class="comment-add-new-text">
                <textarea></textarea>
            </div>
        </div>
        <input type="button" data-add="true" value="Comment" id="@GetAddCommentElementId()" />
    </div>
</div>

<script>window.Blog.Events.initCommentNewItem(@Model.CommentId, @GetPostId());</script>

@functions
{
    public string GetCommentElementId()
    {
        if (Model == null || Model.CommentId == 0)
        {
            return "commentAddNew_0";
        }
        return "commentAddNew_" + Model.CommentId;
    }

    public string GetAddCommentElementId()
    {
        if (Model == null || Model.CommentId == 0)
        {
            return "addCommentButton_0";
        }
        return "addCommentButton_" + Model.CommentId;
    }
    
    public string GetCommentTextAreaId()
    {
        if (Model == null || Model.CommentId == 0)
        {
            return "commentAddNewText_0";
        }
        return "commentAddNewText_" + Model.CommentId;
    }
    
    public int GetPostId()
    {
        if (Model.PostId == null)
        {
            return 0;
        }
        return (int)Model.PostId;
    }
}
