@using System.Configuration
@using System.Text
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Bloggity Administration Tool</title>

        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
        <link href="~/Content/Site.css" rel="stylesheet" />

        <script src="~/Scripts/modernizr-2.8.3.js"></script>
        <script src="~/Scripts/knockout-3.2.0.js"></script>
        <script src="~/Scripts/jquery-2.1.1.js"></script>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Bloggity", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administrator <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Notifications", "Index", "Notifications")</li>
                            </ul>
                        </li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>
        
        <script>
            var configuration =
            {
                blogSockets: "@GetBlogSockets()"
            };

            var socketClientFunctions = {
                publishMessage: "@Blog.Common.Utils.Constants.SocketClientFunctions.PublishMessage.ToString()",
                commentAdded: "@Blog.Common.Utils.Constants.SocketClientFunctions.CommentAdded.ToString()",
                commentLikesUpdate: "@Blog.Common.Utils.Constants.SocketClientFunctions.CommentLikesUpdate.ToString()",
                postLikesUpdate: "@Blog.Common.Utils.Constants.SocketClientFunctions.PostLikesUpdate.ToString()",
                subscribeViewPost: "@Blog.Common.Utils.Constants.SocketClientFunctions.SubscribeViewPost.ToString()",
                unsubscribeViewPost: "@Blog.Common.Utils.Constants.SocketClientFunctions.UnsubscribeViewPost.ToString()",
                wsConnect: "@Blog.Common.Utils.Constants.SocketClientFunctions.WsConnected.ToString()"
            };
        </script>
        
        <!-- socket.io js script -->
        <script src="@GetBlogSocketsJs()" type="text/javascript"></script>

        <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/respond.js"></script>

        @RenderSection("scripts", required: false)
    </body> 
</html>

@functions
{
    public string GetBlogSockets()
    {
        var sb = new StringBuilder();
        sb.Append(ConfigurationManager.AppSettings.Get("BlogSockets"));

        return sb.ToString();
    }

    public string GetBlogSocketsJs()
    {
        var sb = new StringBuilder();
        sb.Append(ConfigurationManager.AppSettings.Get("BlogSockets"));
        sb.Append("socket.io/socket.io.js");

        return sb.ToString();
    }
}
